/*
selectores{estilos}
------------
etiqueta{}
.clase{}
#id{
}*/

body{
    background: #efeeee
    padding: 0;
    margin: 0;
}

.cabecera{
    /* border: 2px solid  blue; */
    display: flex;
    gap: 6px;
    /* justify-content: space-between; */
}

a{
    /* border: 1px solid red; */
    color:#595858;
    text-decoration: none;
    padding:0.5rem;
}

a:hover{
    color: rgb(17, 143, 143);
    background: #cecece;
}


#perfil{
    display: flex;
    flex-direction: rew;
    align-items: center;
    /*justify-content: center;*/
}

img{
    width: 70px;
    height: 70%;
    border: 1px solid green;
    border-radius: 50%;
    background: white;
}

span{
    border: 2px solid green;
    padding: 5px 10px;
    border-radius: 50px;
    background: greenyellow;
    color: blue;
    margin-left: 15px;
}